[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
streamlit = "*"
geopandas = "*"
matplotlib = "*"
plotly = "*"
python-restcountries = "*"

[dev-packages]
black = {extras = ["jupyter"], version = "*"}
mypy = "*"
pylint = "*"

[requires]
python_version = "3.10"
