[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
jupyter = "*"
pandas = "*"
requests = "*"
ollama = "*"
streamlit = "*"

[dev-packages]
black = {extras = ["jupyter"], version = "*"}
mypy = "*"
pylint = "*"
youtube-transcript-api = "*"
tqdm = "*"

[requires]
python_version = "3.10"
