[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
geopandas = "*"
matplotlib = "*"
plotly = "*"
python-restcountries = "*"

[dev-packages]

[requires]
python_version = "3.14"
